$primary: #42b983;
$secondary: #d63200;
$light: #ffffff;
$code-color: $secondary;
$body-bg: $light;
$body-color: rgb(33, 53, 71);
$link-color: $primary;
$link-decoration: none;
$nav-link-color: $body-color;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: transparent;
